In [4]:
import pandas as pd
x = pd.read_csv('ttz/Neogen_China_POR80KV01_20170813.csv')
x

,ID,1_1,2_13,3_25,4_37,5_49,6_61,7_73,8_85,9_2,...,87_83,88_95,89_12,90_24,91_36,92_48,93_60,94_72,95_84,96_96
0,ALGA0003067,0,0,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,1,0,0
1,ALGA0003101,0,0,0,1,0,0,0,0,0,...,1,0,1,0,0,0,0,1,0,0
2,ALGA0005560,1,1,0,0,0,0,0,2,1,...,1,0,0,0,1,0,0,1,1,0
3,ALGA0010800,0,0,1,0,1,1,0,1,1,...,0,1,2,1,0,0,0,0,0,0
4,ALGA0015925,0,0,1,1,1,0,0,0,0,...,1,1,2,0,0,0,1,2,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68511,MARC0058026,0,0,1,1,1,0,0,1,1,...,1,0,0,1,0,1,0,2,0,0
68512,MARC0051696,0,1,0,1,0,0,0,0,0,...,2,0,1,0,0,0,0,1,2,0
68513,MARC0056482,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
68514,ASGA0060111,0,0,0,0,0,0,0,1,0,...,0,0,1,1,0,0,0,1,0,0
68515,ALGA0124288,1,1,0,0,1,1,0,1,0,...,1,1,0,0,0,1,1,0,1,0

In [94]:
import pandas as pd

# 假设df是您的原始DataFrame
data = {
    'ID': ['ALGA0003067', 'ALGA0003101', 'ALGA0005560', 'ALGA0010800', 'ALGA0015925'],
    '1_1': ['a', 'b', 'c', 'd', 'd'],
    '2_13': ['s', 'd', 'f', 's', 'A'],
    '3_25': ['D', 'D', '0', '1', '1'],
    '4_37': [1, 1, 0, 0, 1],
    '5_49': [0, 0, 0, 1, 0],
    '6_61': [0, 0, 0, 1, 0]
}
df = pd.DataFrame(data)

# 初始化一个空的列表来存储每个窗口合并后的DataFrame
merged_dfs = []

# 计算窗口数量
num_windows = len(df) - 1

# 对每个窗口进行迭代
for i in range(num_windows):
    start = i
    end = start + 3
    # 获取窗口内的行
    window_df = df.iloc[start:end]
    if len(window_df) >= 3:
    
        # 对'ID'列使用'_'连接
        merged_id = '_'.join(window_df['ID'].astype(str))
        
        # 对其他列直接拼接
        merged_data = {column: ''.join(window_df[column].astype(str)) for column in df.columns if column != 'ID'}
        
        # 创建一个新的行DataFrame，并将其添加到列表中
        merged_df = pd.DataFrame([merged_id], columns=['ID'])
        #merged_data['ID'] = merged_id
        # merged_dfs.append(merged_data)
        for key, value in merged_data.items():
            merged_df[key] = [value]
            
        merged_dfs.append(merged_df)

# 使用concat合并所有的DataFrame
df_window = pd.concat(merged_dfs, ignore_index=True)

# 打印结果
print(df_window)

                                    ID  1_1 2_13 3_25 4_37 5_49 6_61
0  ALGA0003067_ALGA0003101_ALGA0005560  abc  sdf  DD0  110  000  000
1  ALGA0003101_ALGA0005560_ALGA0010800  bcd  dfs  D01  100  001  001
2  ALGA0005560_ALGA0010800_ALGA0015925  cdd  fsA  011  001  010  010

In [ ]:
    start = i
    end = start + 3
    # 获取窗口内的行
    window_df = df.iloc[start:end]
    if len(window_df) >= 3:
    
        # 对'ID'列使用'_'连接
        merged_id = '_'.join(window_df['ID'].astype(str))
        
        # 对其他列直接拼接
        merged_data = {column: ''.join(window_df[column].astype(str)) for column in df.columns if column != 'ID'}
        
        # 创建一个新的行DataFrame，并将其添加到列表中
        merged_df = pd.DataFrame([merged_id], columns=['ID'])
        merged_df.concat(merged_data.items())
        # for key, value in merged_data.items():
        #     merged_df[key] = [value]
            
        merged_dfs.append(merged_df)

# 使用concat合并所有的DataFrame
df_window = pd.concat(merged_dfs, ignore_index=True)

# 打印结果
print(df_window)

In [72]:
df_window.set_index(df.columns[0], inplace=True)
my_set = set()
index_list = df_window.index.to_list()
for item in index_list:
    my_set.update(set(item.split('_')))
print(my_set)

{'ALGA0003067', 'ALGA0003101', 'ALGA0015925', 'ALGA0005560', 'ALGA0010800'}

In [74]:
from collections import OrderedDict
snp_num = int(1+len(df.columns[0]) * 0.1)
print(snp_num)
print(len(df.index))
top = 0;
ordered_set = OrderedDict()
index_list = df_window.index.to_list()
for item in index_list:
    for identity in item.split('_'):
        if top < snp_num:
            ordered_set[identity] = None
            top = top+1
    
print(list(ordered_set.keys()))

1
5
['ALGA0003067']